html,body {
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
    font-family: title;
    color: rgb(0, 0, 0);
    font-weight: lighter;
    font-size: 20px ;
    overflow: hidden;
    scrollbar-width: 0;
}
html, body {margin: 0; height: 100%; overflow: hidden;
}
html, body {
    overflow-x: hidden;
  }
  body {
    position: relative;
  }

.container { 
    overflow:hidden;
    height: 60%; 
    width: 100%;
    top: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    
}

span,h1 {
    font-family: title;
}
.image {
    /* background-image: linear-gradient( 181deg,  rgba(225,109,245,1) 6.9%, rgba(78,248,231,1) 112.8% ); */
    background-image: linear-gradient( 111.8deg,  rgba(76,175,80,1) 0.1%, rgba(255,152,0,1) 100.2% );
    /* background-repeat: no-repeat; */
    background-size: cover;
    width:400%;
    height: 200%;
    border-radius: 90%;
    transition-duration: 1500ms;
    transition-property:transform;;
    transform:translate(-10%,15%);
    position: absolute;
    z-index: 0;
  


}
input:checked + .image{
    transform: translate(-74%,-60%);
}
/* svg {
    transform: translate(50%);

}
.svg{ transition-duration: 1000ms;}
input:checked ~ .svg {
    transform: translate(-50%);
} */
span {
    font-size: 20px;
}
.title {
    font-family: title;
    color: azure;
    font-size: 25px;
    font-weight: 100;
    transform: translateX(-20%);
}
.title1 {
    font-family: title;
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 100;
    transform: translateX(-20%);
}

@font-face {
    font-family: title;
    src: url(/assets/NexaLight.otf);
  }
  @font-face {
    font-family: subtitle;
    src: url(/assets/CamptonLight.otf);
  }
  .subtitle {
      font-family: subtitle;
      margin-top: 0;
      margin-bottom: 0;
      color: rgb(0, 0, 0);
    
  }
  .top{
    position: absolute;
    bottom: 3%;
  
     right: 10%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition-duration: 1000ms;
  
  }


/*  ***************** FORM ***************** */

h1 {
    margin: 0;
}
.form {
    z-index: 10;
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
    transition-duration: 1000ms;
    display: flex;
    flex-direction: column;
    /* width: fit-content; */
    align-items: center;
  /* transform: translate(-10% ,90%); */
  /* overflow: hidden; */
  /* transform: translateY(40%); */
top: 5%;
  right: 10%;


  
}

input{
    height: 2em;
    margin-top: 2em;
  background-color: transparent;
   padding-bottom: 0;
  vertical-align: middle;
  border: none;
  border-bottom: 2px rgb(0, 0, 0) solid;
  outline: none;
  transform: translate(0,-7px);
  font-size: 16px;
}
.div-mail {
    position: relative;
  
}

.div-pass {
    position: relative;
}

.span-mail {
position: absolute;
bottom: 0;
top: 1.5em;
right: 0;
left: 0;
pointer-events: none;

transition: 500ms ease;


}
.label-mail::after {
    content: "";
    position: absolute;
    left: 0;
    border-bottom: 2px solid rgb(253, 255, 141);
    z-index: 10;
    bottom: 7px;
    width: 100%;
    height: 100%;
    transform: translate(-100%);
    opacity: 0;
    pointer-events: none;
    transition: 1000ms ease;



}
.label-pass::after{
    content: "";
    position: absolute;
    left: 0;
    border-bottom: 2px solid rgb(253, 255, 141);
    z-index: 10;
    bottom: 7px;
    width: 100%;
    height: 100%;
    transform: translate(-100%);
    opacity: 0;
    transform: translate(-180%);
    pointer-events: none;
    transition: 1000ms ease;
}

.span-pass{
    position: absolute;
    bottom: 0;
top: 1.5em;
right: 0;
left: 0;
pointer-events: none;
transition: 500ms ease;


}

.form1 input:focus + .label-mail .span-mail,
.form1 input:valid + .label-mail .span-mail {
    transform: translateY(-25%);
  font-size: 15px;
}
.form1 input:focus + .label-mail::after ,
 .form1 input:valid + .label-mail::after{
    transform: translateX(0%);
    opacity: 1;
} 


.form1 input:focus + .label-pass .span-pass,
.form1 input:valid + .label-pass .span-pass {
    transform: translateY(-25%);
  font-size: 15px;
}
.form1 input:focus + .label-pass::after ,
 .form1 input:valid + .label-pass::after{
    transform: translateX(0%);
    opacity: 1;
} 

a , .a , .signup {
    margin: 1em;
    text-decoration: none;
    letter-spacing: 2px;
    border-radius: 10px;
    padding: 10px 20px ;
    /* background: linear-gradient( 181deg,  rgba(225,109,245,1) 6.9%,
     rgba(78,248,231,1) 112.8% );     */

    border: 2px solid ;
    /* overflow: hidden; */
      font-size: 16px;
    outline: none;
    background-color: transparent;
    color: black;
}


.signup {
color: rgb(0, 0, 0);
padding-bottom: 3px;
border: none;
border-radius: 0;
border-bottom: 2px solid black;
z-index: 300;



}

img {
    position: absolute;
height: 50%;
    width: 50%;
 transform: translate();

 bottom: 5em;
 right: 1em;
 transition-duration: 1000ms;
}


.signupImage {
transform: translate(-74%,-60%);;
}
.signuptop {
    transform: translateY(190%);
}
.signupform {
    transform: translateY(-130%);
   
}
.signupsvg {
    transform: translateX(220%);
}


























.top1{
    position: absolute;
    bottom: 0%;
  color: rgb(0, 0, 0);
     right: -12%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition-duration: 1000ms;
  
  }


/*  ***************** FORM ***************** */

h1 {
    margin: 0;
}
.form1 {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    
    position: absolute;
    left: 10% ;
    transition-duration: 1000ms;


  
}



.file2 {
    position: absolute;
height: 30%;
    width: 50%;
 transform: translate();

 bottom: 9em;
 left: -2em;
 z-index: 5;
 transition-duration: 1000ms;
}


.signupForm {
 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    
}

.show {
    display: block;
}

.ng-touched.ng-invalid {
    border-bottom: #ff0000 2px solid;
    
    transition-duration: 500ms;
 }

 .form1 .ng-touched.ng-invalid +.label-mail .span-mail{
     
    

 }
