<div class="container">
    
    <div class="measures">
        <h1>Edit</h1>

       
    <!-- <img class="girl1" src="/assets/svgadd/girl.svg" alt=""> -->
    
       
    <div class="demande">
        <div class="form">
            <div class="form1">
            <div class="div-mail">
            <input class="text" type="text" name="email" autocomplete="off" required 
                value="{{demande.name}}"
            >
            <label for="email" class="label-mail">
                <span class="span-mail">Demande :</span>
            </label>
        </div>
        <div class="div-mail div2">
            <input class="text date"
             type="date" name="email" autocomplete="off" required
             value="{{demande.date}}"
         
            >
            <label for="email" class="label-mail">
                <span class="span-mail datespan">date</span>
            </label>
        </div>
    </div>
        <div class="form2">
        <ul>
            <li
            (click)="select1()"
            [ngClass]="{selected: selected1}">
            <input name="paies" type="checkbox" class="type1"
            [checked]="first"
            > 
            <label for="paies">Fiches de paies </label> </li>
            
            <li
            [ngClass]="{selected: selected2}"
            (click)="select2()"
            ><input type="checkbox"class="type2" id="salaire"
            [checked]="second"
            >
            <label for="slaire">Attestation de salaire</label></li>
       
            <li
            (click)="select3()"
            [ngClass]="{selected: selected3}">
            <input type="checkbox"class="type3"
            [checked]="third">
            <label for="att-travail">Attestation de travail</label></li> 
           
            <li
            (click)="select4()"
            [ngClass]="{selected: selected4}"
          
            ><input type="checkbox"class="type4" id="certif-travail"
            [checked]="forth"
            >
            <label for="certif-travail">Certification de travail</label></li>
        </ul>
        
        </div>
    </div>
    
    
    
    
    </div>
        
        <div class="submit">
            <img class="girl" src="/assets/svgadd/girl.svg" alt="">
            <button class="btnsubmit">Submit</button>
    
     
    
    </div>
    </div>
    
    
    </div>