

<div class="container">
<img src="assets/svg/profil.svg" alt="">

<div class="demande">
    <div class="form">
        <div class="form1">
        <div class="div-mail div2">
        <input class="text" type="text" name="email" autocomplete="off" required 
        [ngClass]="{border: border}"
        [disabled]="disable"
        >
        <label for="email" class="label-mail">
            <span class="span-mail"
         
            >
                <span  class="titles"
               
                >Full Name : </span>
                
                <span class="original"
               
                >{{personne.name}}</span>
                
            </span>
        </label>
    </div>
    <div class="div-mail div2">
        <input class="text" type="text" name="email" autocomplete="off" required 
        [ngClass]="{border: border}"
        [disabled]="disable"

        >
        <label for="email" class="label-mail">
          
            <span class="span-mail "
           
            >
                <span  class="titles"
               
                >Email :</span>

            <span class="original"
           
            >{{personne.email}}</span>

            </span>
       
        </label>
    </div>
    <div class="div-mail div2">
        <input class="text" type="text" name="email" autocomplete="off" required 
        [ngClass]="{border: border}"
        
        [disabled]="disable"
        >
        <label for="email" class="label-mail">
            <span class="span-mail "
           >
                <span  class="titles"
                
                >CIN : </span>
                <span class="original"
               >{{personne.cin}}</span>

            </span>
        </label>
    </div>
    <div  class="div-mail div2 ">
        <input class="text date" type="text" name="email" autocomplete="off" required
        [ngClass]="{border: border}"
        [disabled]="disable"

        >
        <label for="email" class="label-mail">
            <span class="span-mail "
           
            >
                <span class="titles"
                
                >Password</span>

            <span class="original info"
           
            >{{personne.password}}</span>

            </span>
        </label>
    </div>
   


</div>
</div>
</div>
<div class="buttons">
<button
(click)="edit()"
>edit</button>

<button>save</button>
</div>

</div>